# Виртуальные окружения и папки с зависимостями
venv/
env/
env.bak/
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы настроек IDE
.idea/
.vscode/

# Файлы логов и отчетов
*.log
*version*

# Кэшированные файлы
.cached/
*.cache

# Файлы секретных ключей, паролей и конфиденциальной информации
.secret
.env

# Папки с результатами сборки и временными файлами
build/
dist/
*.egg-info/

# Прочее
.wdm/
scratches/
